    <!--bannière-->
    <section class="jumbotron jumbotron-fluid text-center">
      <div class="container-banner ">
        <%= image_tag("bann.jpg", class: " w-100 img-fluid")%>
      </div>
    </section>
    <div>
      <h3 class=" text-center m-5 ">Nos services</h3>
    </div>
    <!--Card de nos services-->
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow bg-dark text-white">
              <%= image_tag("climb2.jpg", class: "card-img-top") %>
              <div class="card-img-overlay">
                <h2 class="card-text d-flex justify-content-start "> BLOCS</h2>
                <h3 class="card-text-cache d-flex justify-content-center"><%= link_to "Reservez une sale d'escalade", blocks_path %> </h3>
                <h6 class="card-text-cache d-flex justify-content-center">Climbing Project</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow bg-dark text-white">
              <%= image_tag("climb3.png", class: "card-img-top") %>
              <div class="card-img-overlay">
                <h2 class="card-text d-flex justify-content-start "> VOIES</h2>
                <h3 class="card-text-cache d-flex justify-content-center"><%= link_to "Reservez une sale d'escalade", routes_path %> </h3>
                <h6 class="card-text-cache d-flex justify-content-center">Climbing Project</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="card mb-4 box-shadow bg-dark text-white ">
              <%= image_tag("hamburger.jpg", class: "card-img-top ") %>
              <div class="card-img-overlay">
                <h2 class="card-text d-flex justify-content-start "> FOOD</h2>
                <h3 class="card-text-cache d-flex justify-content-center"><%= link_to "Une petite faim?", restaurations_path %> </h3>
                <h6 class="card-text-cache d-flex justify-content-center">Climbing Project</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow bg-dark text-white">
              <%= image_tag("spa.jpg", class: "card-img-top") %>
              <div class="card-img-overlay">
                <h2 class="card-text d-flex justify-content-start "> DETENTE</h2>
                <h3 class="card-text-cache d-flex justify-content-center"><%= link_to "  espace détente", relaxations_path %></h3>
                <h6 class="card-text-cache d-flex justify-content-center">Climbing Project</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow bg-dark text-white">
              <%= image_tag("cow.jpg", class: "card-img-top") %>
              <div class="card-img-overlay">
                <h2 class="card-text d-flex justify-content-start "> COWORKING</h2>
                <h3 class="card-text-cache d-flex justify-content-center"> <%= link_to " espace coworking", coworkings_path %></h3>
                <h6 class="card-text-cache d-flex justify-content-center">Climbing Project</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow bg-dark text-white">
              <%= image_tag("loisirs.jpg", class: "card-img-top") %>
              <div class="card-img-overlay">
                <h2 class="card-text d-flex justify-content-start "> LOISIRS</h2>
                <h3 class="card-text-cache d-flex justify-content-center"> <%= link_to "espace loisirs", loisirs_path %></h3>
                <h6 class="card-text-cache d-flex justify-content-center">Climbing Project</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      





 <div class="swiper mySwiper ">

      <div class="swiper-wrapper d-flex align-items-center text-center">
          <% @center.each do |center| %>
          
         <div class="swiper-slide ">
          <p><%= center.name %></p>
            <%= button_to "Voir la salle", center_path(center.id), class: "btn btn-info", method: "get" %>
            <% if center.thumbnail.attached?%>
        <%= image_tag center.thumbnail %>
      <% else %>
        <img src="climb1.jpg" class="card-img-top" alt="...">
      <% end %>
      </div>
         <% end %>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>

   
    <%= javascript_include_tag('homepage.js') %>
    <%# <script src="homepage.js"></script> %>

    