<div class="flex-column  vh-100 d-flex align-items-center justify-content-center ">
  <div class="border-form">
    <div class="container-form">
      <div class="Title text-center">
        <h2>S'inscrire</h2>
        <small>Seuls les champs avec * sont obligatoires.</small>
      </div>
      <div class="Form text-center  ">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
          <% resource.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
          <% end %>
          <div class="m-2">
            <%= f.label :"Prénom", class:"input-text  " %><br />
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "input-field m-2" %>
          </div>
          <div class="m-2">
            <%= f.label :"Nom de famille"  , class:"input-text"%><br />
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "input-field m-2" %>
          </div>
          <div class="m-2">
            <%= f.label :"Date d'anniversaire", class:"input-text" %><br />
            <%= f.date_field :birth_date, class: "input-field text-center m-2" %>
          </div>
          <div class="m-2">
            <%= f.label :"Quel est votre centre préféré ?*", class: "input-text "%><br />
            <%= f.collection_select :center_id, Center.all, :id, :name, class: "input-field text-center m-2 " %>
          </div>
          <div class="m-2">
            <%= f.label :"Email*", class:"input-text" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field m-2" %>
          </div>
          <div class="m-2">
            <%= f.label :"Mot de passe*", class:"input-text" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caractères minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class:"input-field m-2"  %>
          </div>
          <div class="m-2">
            <%= f.label :"Confirmation mot de passe*", class:"input-text" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "confirm-password", class:"input-field"  %>
          </div>
          <div>
            <div class=" d-flex justify-content-around">
              <%= f.submit "S'inscrire", class: "btn-primary m-2 rounded " %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-center">
        <%= render "devise/shared/links" %></div>
    </div>
  </div>
</div>
