<div class="container">
    <div class="nav-tabs mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Mon Profil</a>
            </li>
        </ul>
    </div>

    <div class="card mt-3">
        <div class="card-header d-flex justify-content">
            <span class="mx-3">
            <i class="fas fa-regular fa-circle-info"> Mes informations </i>
            </span>
        </div>
        <div class="card-body">
            <p class="card-title"> Prénom : <%= @user.first_name %></p>
            <p class="card-title"> Nom de famille : <%= @user.last_name%></p>
            <p class="card-title"> Date de naissance : <%= @user.birth_date %></p>
            <p class="card-title"> Email : <%= @user.email%></p>
            <div class="btn btn-secondary">
                <%= button_to 'Modifier mes informations', edit_user_registration_path(@users), method: :get %>
            </div>
            <!-- <a href="#" class="btn btn-secondary">Modifier mes informations</a> -->
        </div>
    </div>

     <div class="card mt-3">
        <div class="card-header d-flex justify-content">
            <span class="mx-3">
                <i class="fa-solid fa-calendar-days"> Historique de mes cours </i>
            </span>
        </div>
    
    <% @user.order_courses.each do |order_course| %>
        <div class="card-body"> 
            <div class="card-title">
                <p>Numéro du cours: <%= order_course.id %></p>
                <p>Intitulé du cours: <%= order_course.course.name %></p>
                <p>Date du cours: <%= order_course.course.start_time %></p>
                <p>Prix: <%= order_course.course.price %> €</p>
            </div>
        </div>
    <% end %>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <span class="mx-3">
                <i class="fa-solid fa-sheet-plastic"> Mon abonnement </i>
            </span>
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-title"><%=  %></p>
        <div class="d-flex justify-content">
          
        </div>
        </div>
    </div>
</div>
