<%# ============================ User Information ===================================== %>
<div class="container">
  <div class="card m-3">
    <div class="card-header text-center">
      <h3 class="m-0"> Mon compte </h3>
    </div>
  </div>
  <div class="card m-3">
    <div class="card-header">
      <span class="d-flex justify-content">
        <i class="d-flex align-items-center fas fa-regular fa-circle-info mx-3"></i>
        <h5 class="m-0"> Mes informations </h5>
      </span>
    </div>
    <div class="card-body d-flex justify-content-around align-items-center">
      <div>
        <% if !@user.first_name.nil? %>
          <p class="card-title"> <b>Prénom : </b><%= @user.first_name %></p>
        <% end %>
        <% if !@user.last_name.nil? %>
          <p class="card-title"> <b>Nom de famille : </b><%= @user.last_name%></p>
        <% end %>
        <% if !@user.birth_date.nil? %>
          <p class="card-title"> <b>Date de naissance : </b><%= @user.birth_date.strftime("%d/%m/%Y") %></p>
        <% end %>
        <p class="card-title"> <b>Email : </b><%= @user.email%></p>
        <%= button_to 'Modifier mes informations', edit_user_registration_path(@user), method: :get, class: "btn btn-success" %>
      </div>
      <div class="text-center">
        <% if @user.has_active_subscription %>
          <p><strong> Votre abonnement expire le </strong><br />
            <%= @user.current_subscription.end_date.strftime("%d/%m/%Y") %></p>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>
  <%# ================================= Course ==================================%>
  <div class="card m-3">
    <div class="card-header">
      <span class="d-flex justify-content">
        <i class="d-flex align-items-center fa-solid fa-calendar-days mx-3"></i>
        <h5 class="m-0"> Historique des mes cours </h5>
      </span>
    </div>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            Vos cours à venir
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body d-flex flex-column align-items-center">
            <% if @user.has_course %>
              <h5 class="m-2">Vous n'avez pas de cours prévu</h5>
              <%= button_to "Réserver un cours", courses_path, method: :get, class: "btn btn-success" %>
            <% end %>
            <div class="row" >
              <% @user.future_courses.each do |order_course| %>
                <div class="col-sm-6">
                  <div class="card m-3" style="width: 18rem;">
                    <div class="card-header d-flex justify-content-center">
                      <h5> Commande n°<%= order_course.id %></h5>
                    </div>
                    <div class="d-flex flex-column m-2">
                      <p class="mb-0"> Intitulé du cours : <%= order_course.course.name %></p>
                      <p class="mb-0"> Date du cours : <%= order_course.start_date_time.strftime("%d/%m/%Y - %H:%M")%></p>
                      <p class="mb-0"> Prix : <%= order_course.course.price %> €</p>
                    </div>
                    <div class="m-2 d-flex justify-content-center">
                      <%= button_to "Annuler votre cours", order_course_refund_course_path(course_id: order_course.course.id, date: order_course.date, order_course_id: order_course.id, redirection_path: user_path), class: "btn btn-danger" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Toutes vos commandes
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <div class="row">
              <% @user.order_courses.each do |order_course| %>
                <div class="col-sm-6 d-flex justify-content-center">
                  <div class="card m-3" style="width: 18rem;">
                    <div class="card-header d-flex justify-content-center">
                      <h5> Commande n°<%= order_course.id %></h5>
                    </div>
                    <div class="d-flex flex-column m-2">
                      <p class="mb-0"> Intitulé du cours : <%= order_course.course.name %></p>
                      <p class="mb-0"> Date du cours : <%= order_course.date.strftime("%d/%m/%Y")%> - <%= order_course.course.start_time.strftime("%H:%M") %></p>
                      <p class="mb-0"> Prix : <%= order_course.course.price %> €</p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# ==================== Subscription ========================= %>
  <div class="card m-3">
    <div class="card-header">
      <span class="d-flex justify-content">
        <i class="d-flex align-items-center fa-solid fa-sheet-plastic mx-3"></i>
        <h5 class="m-0"> Mon abonnement </h5>
      </span>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Votre abonnement actif
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="d-flex align-items-center flex-column m-3">
              <% if !@user.has_active_subscription %>
                <h5 class="m-3 ">Vous n'avez pas encore d'abonnement</h5>
                <%= button_to "Prenez un abonnement", subscriptions_path, method: :get, class: "btn btn-success" %>
              <% else %>
                <div class="card m-3 row col-sm-6" style="width: 18rem;">
                  <div class="card-header d-flex justify-content-center">
                    <h5>Abonnement <%= @user.current_subscription.subscription.name %></h5>
                  </div>
                  <div class="d-flex flex-column m-2">
                    <p class="mb-0"> Date d'expiration : <%= @user.current_subscription.end_date.strftime("%d/%m/%Y") %></p>
                    <hr>
                    <p class="mb-0"><b>Prix : </b><%= @user.current_subscription.subscription.price %> €</p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Toutes vos commandes
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row">
              <% @user.order_subscriptions.each do |order_subscription| %>
                <div class="col d-flex justify-content-center">
                  <div class="card m-3 row col-sm-6 " style="width: 18rem;">
                    <div class="card-header d-flex justify-content-center">
                      <h5> Commande n°<%= order_subscription.id %></h5>
                    </div>
                    <div class="d-flex flex-column m-2">
                      <p class="mb-0"> Nom de l'abonnement : <%= order_subscription.subscription.name %></p>
                      <p> Commandé le : <%= order_subscription.created_at.strftime("%d/%m/%Y") %></p>
                      <p class="mb-0"> Date d'expiration : <%= order_subscription.end_date.strftime("%d/%m/%Y") %></p>
                      <p class="mb-0"><b>Prix : </b><%= order_subscription.subscription.price %> €</p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
