<div class="border-form">
  <div class="flex-column  vh-100 d-flex align-items-center justify-content-center ">
    <div class="container-form">
      <h2>Mot de passe oublié ?</h2>
      <div class=" flex-column d-flex justify-content-center ">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field text-center">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="actions text-center m-4 ">
            <%= f.submit "Réinitialisation du mot de passe", class: "btn-primary hvr-grow m-2 rounded" %>
          </div>
        <% end %>
        <div class="text-center ">
          <%= render "devise/shared/links" %></div>
      </div>
    </div>
  </div>
</div>
