<p style="color: green"><%= notice %></p>


       <div class=" text-left py-5 ">
          <h3> Climbing Project: <%= @center.name %></h3>
          
       </div>
       <div class="d-flex">
          <div class="w-50 d-flex flex-row align-items-center text-center m-3">
            <p><%= @center.description %>.</p>
         </div>

         <div class=" w-50 m-2">
         <p>Vous pouvez nous retrouvez ici : </p>
         <%= @center.latitude %> 
         <%= @center.longitude %>
          
         </div>
       </div>

    <div class="d-flex">
      <div class="row">
         <div class=""col-lg>
           <h5>Infos pratiques: </h5>
         </div>
            <div class="col-lg align-items-end ">
               <p> Lundi - vendredi : 7h/minuit</p>
               <p>Week-ends et jours fériés : 8h/23h</p>
            </div>
      </div>
    </div>
  


