<div class=" text-center py-5 ">
  <h3> Climbing Project: <%= @center.name %></h3>
</div>
<div class="row map-sizing p-3">
  <div class="col-12 col-lg-6 d-flex text-center align-items-center">
    <p><%= @center.description %>.<br>
      <%= link_to "Voir nos cours >>", courses_from_center_path(@center.id) %></p>
  </div>
  <div class="col-12 col-lg-6">
    <h5>Vous pouvez nous retrouver ici : </h5>
    <div id="map" data-longitude="<%= @center.longitude %>" data-latitude="<%= @center.latitude %>" class="border border-dark rounded h-75"></div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="text-center">
    <div class="col-lg">
      <h5>Infos pratiques: </h5>
    </div>
    <div class="col-lg align-items-end ">
      <p> Lundi - vendredi : 7h/minuit</p>
      <p>Week-ends et jours fériés : 8h/23h</p>
    </div>
  </div>
</div>
<%= javascript_include_tag('leaflet.js') %>
