<p style="color: green"><%= notice %></p>

<%= render @subcription %>

<div>
  <%= link_to "Edit this subcription", edit_subcription_path(@subcription) %> |
  <%= link_to "Back to subcriptions", subcriptions_path %>

  <%= button_to "Destroy this subcription", @subcription, method: :delete %>
</div>
