<div id="<%= dom_id order_subscription %>">
  <p>
    <strong>User:</strong>
    <%= order_subscription.user_id %>
  </p>
  <p>
    <strong>Subscription:</strong>
    <%= order_subscription.subscription_id %>
  </p>
  <p>
    <strong>Subscription end date:</strong>
    <%= order_subscription.subscription_end_date %>
  </p>
  <p>
    <strong>Datetime:</strong>
    <%= order_subscription.datetime %>
  </p>
</div>
