<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= course.price %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= course.start_time %>
  </p>

  <p>
    <strong>Center:</strong>
    <%= course.center_id %>
  </p>

  <p>
    <strong>Max attendees:</strong>
    <%= course.max_attendees %>
  </p>

</div>
