<h3 class="mt-5 text-center">PLANNING DES COURS</h3>
<div class="d-flex justify-content-center">
  <%= select_tag "center", options_from_collection_for_select(Center.all, :id, :name, :selected => @center_id), :onchange => "goToCenterCourses(this.value)"%>
</div>
<div class="container d-flex justify-content-center">
  <%= week_calendar(events: @course_events, attribute: :start_time) do |date, course_events| %>
    <%= date.strftime("%d/%m/%Y") %>
    <% course_events.each do |course_event| %>
      <div class="  accordion course-event" id="accordion<%= course_event.course.id %>">
        <div class="accordion-item">
          <h2 class=" accordion-header" id="heading<%= course_event.course.id %>">
            <button class="accordion-button collapsed accordion-event-button <%= "reservation-success" if user_signed_in? && course_event.has_slots_reserved(current_user.id) %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= course_event.course.id %>" aria-expanded="false" aria-controls="collapse<%= course_event.course.id %>">
              <div class="m-2"><%= course_event.course.name %></div>
              <div class="m-2">(<%= course_event.start_time.strftime("%H:%M") %> - <%= course_event.end_time.strftime("%H:%M") %>)</div>
              <div class="m-2"><span class="badge bg-secondary <%= 'bg-danger' unless course_event.has_available_slots %>">Créneaux disponibles: <%= course_event.available_slots %>/<%= course_event.course.max_attendees %></span></div>
              <div class="m-2 text-decoration-underline">Prix: <%= course_event.course.price %>€</div>
            </button>
          </h2>
          <div id="collapse<%= course_event.course.id %>" class="accordion-collapse collapse" aria-labelledby="heading<%= course_event.course.id %>" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <% if course_event.is_past %>
                Le cours n'est plus disponible
              <% else %>
                <% if user_signed_in? && course_event.has_slots_reserved(current_user.id) %>
                  Vous avez déjà reservé ce créneau.
                  <%= button_to "Annuler votre cours", order_course_refund_course_path(course_id: course_event.course.id, date: course_event.date, order_course_id: course_event.user_reserved_slot(current_user.id), redirection_path: courses_path), class: "btn btn-danger" %>
                <% elsif course_event.has_available_slots %>
                  <%= button_to "Réserver", order_course_book_course_path(course_id: course_event.course.id, date: course_event.date), method: :post, class:"btn btn-success"%>
                <% else %>
                  Malheureusement il n'y a plus de créneaux disponibles.
                <% end%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= javascript_include_tag('courses.js') %>
