<p style="color: green"><%= notice %></p>
<%= render @course %>
<div>
  <%= link_to "Edit this course", edit_course_path(@course) %> |
  <%= link_to "Back to courses", courses_path %>
  <%= button_to "Destroy this course", @course, method: :delete %>
  <%= button_to 'Ajouter cours' , cart_add_course_path(@course.id), method: "post" %>
</div>
