<nav class="navbar navbar-expand-lg  ">
  <div class="container-fluid">
    <%= link_to image_tag("logo2.png") , root_path, class: "nav-link active" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex justify-content-center">
        <ul class="navbar-nav mr-auto">
          <li class=" nav-item">
            <h2><%= link_to "Climbing Project", root_path, class: "nav-link active" %></h2>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <h6><%= link_to "Cours", courses_path, class: "nav-link" %></h6>
        </li>
        <li class="nav-item">
          <h6><%= link_to "Abonnements", subscriptions_path, class: "nav-link" %></h6>
        </li>
        <% if user_signed_in? && current_user.is_admin %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <h6> Administrateur </h6>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to"Panel Administrateur", admin_root_path, class: "dropdown-item" %></li>
              <li><%= link_to "Liste des Utilisateurs", admin_users_path, class: "dropdown-item" %></li>
              <li><%= link_to "Liste des salles", admin_centers_path, class: "dropdown-item" %></li>
              <li><%= link_to "Planning Cours", admin_courses_path, class: "dropdown-item" %></li>
              <li><%= link_to "Abonnements", admin_subscriptions_path, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% end %>
        <div class="nav-right">
          <div class="dropdown">
            <div id="myDrop" class="dropdown-content">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <h6> Menu Utilisateur</h6>
                </a>
                <ul class="dropdown-menu">
                  <% if user_signed_in? %>
                    <%= link_to "Mon compte", user_path(current_user.id), class: "dropdown-item" %>
                    <%= link_to "Se deconnecter", destroy_user_session_path,class: "dropdown-item"%>
                  <% else %>
                    <%= link_to "Se connecter", new_user_session_path,class: "dropdown-item" %>
                    <%= link_to "S'inscrire", new_user_registration_path,class: "dropdown-item" %>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
